<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="namespace" default="/"/>

  <arg name="store_name"   default="store_2"/>
  <arg name="map_name"  default="blender_map"/> <!-- the name given when saving it-->
  <arg name="traj_num"  default="2"/>
  <arg name="generator_on"  default="true"/> <!-- toggle if you want the generator to automatically start -->
  <arg name="rviz"     default="true"/> <!-- enable rviz -->
  <arg name="gzclient" default="false"/> <!-- enable gazebo -->

  <!-- Modify map origin (must check the shift in .yaml file) -->
  <arg name="map_shift_x" default="-5.0"/>
  <arg name="map_shift_y" default="-5.0"/>
  <arg name="map_shift_Y" default="0.0"/>
  <!-- param used from wpoint generator to shift trajectories based on map origin-->
  <param name="map_shift" value="$(arg map_shift_x) $(arg map_shift_y) $(arg map_shift_Y)"/>

<!-- from pal_navigation_cfg_public/pal_navigation_cfg_pmb2/config/base/common/local_costmap_public_sim.yaml-->
<param name="robot_radius" value="0.275"/>

 <arg name="visual_check_wp_generator"   default="false"/>

<group unless="$(arg visual_check_wp_generator)">

  <!-- Modify robot initial pose. Beware this do not change move_base params so you have to change them manually. -->
  <arg name="init_pose_x" default="0.0"/>
  <arg name="init_pose_y" default="0.0"/>
  <arg name="init_pose_Y" default="0.0"/>
  <!-- to not break API with Pal Robotics -->
  <arg name="init_pose" default="-x $(arg init_pose_x) -y $(arg init_pose_y) -z 0.0 -R 0.0 -P 0.0 -Y $(arg init_pose_Y)"/> 

  <arg name="public_sim"   default="true"/>
  <arg name="world"  default="textured_store_2"/>  
  <arg name="laser_model"  default="sick-571"/>
  <arg name="rgbd_sensors"  default="false"/>

  <arg name="lost" default="false"/>
<!--  <arg name="gzpose" default="-x 5.0  -y   5.0 -z  0.0   -R 0.0 -P 0.0 -Y  0.0" unless="$(arg lost)"/>-->
<!--  <arg name="gzpose" default="-x 5.0 -y 7.0 -z 0.0 -R 0.0 -P 0.0 -Y 70.0" if="$(arg lost)"/>-->
  

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="$(eval 'teb' if arg('public_sim') else 'pal')"/> 
  <arg name="localization"   default="amcl"/>
  <arg name="map"            default="$(find storeplanner)/maps/$(arg store_name)/$(arg map_name)"/>
  <arg name="octomap"        default="false"/>

  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="simple_sim_model" default="false"/>

  <arg name="advanced_navigation" default="false"/> <!-- Requires extra software from PAL Robotics-->

  <group ns="$(arg namespace)">

    <include file="$(find storeplanner)/launch/navigation/pmb2_gazebo.launch">
      <arg name="world"  value="$(arg world)"/>
      <arg name="laser_model"  value="$(arg laser_model)"/>
      <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
      <arg name="gzpose" value="$(arg init_pose)"/>
      <arg name="public_sim" value="$(arg public_sim)"/>
      <arg name="gui"    value="$(arg gzclient)"/>
      <arg name="recording"  value="$(arg recording)"/>
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
      <arg name="simple_sim_model" value="$(arg simple_sim_model)"/>
    </include>

    <include file="$(find storeplanner)/launch/navigation/navigation.launch">
      <arg name="state"          value="localization"/>
      <arg name="planner"        value="$(arg planner)"/>
      <arg name="global_planner" value="$(arg global_planner)"/>
      <arg name="local_planner"  value="$(arg local_planner)"/>
      <arg name="localization"   value="$(arg localization)"/>
      <arg name="map"            value="$(arg map)"/>
      <arg name="octomap"        value="$(arg octomap)"/>
      <arg name="public_sim"     value="$(arg public_sim)"/>
      <arg name="laser_model"    value="$(arg laser_model)"/>
      <arg name="rgbd_sensors" value="$(arg rgbd_sensors)"/>
    </include>

    <group if="$(arg advanced_navigation)">
      <node pkg="pal_zoi_detector" type="zoi_detector_node" name="zoi_detector" />
      <include file="$(find pal_waypoint)/launch/pal_waypoint.launch"/>
      <include file="$(find pal_navigation_manager)/launch/poi_navigation_server.launch"/>
      <include file="$(find pal_map_utils)/launch/map_configuration_server.launch">
        <env name="PAL_HOST" value="pmb2c"/>
      </include>
    </group>

    <group if="$(arg advanced_navigation)">
      <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"
            args="-d $(find pmb2_2dnav)/config/rviz/advanced_navigation.rviz"/>
    </group>
    <group unless="$(arg advanced_navigation)">
      <node name="rviz" pkg="rviz" type="rviz" if="$(arg rviz)"
            args="-d $(find pmb2_2dnav)/config/rviz/navigation.rviz"/>
    </group>
  </group>

</group> 

  <group if="$(arg generator_on)">
      <node name="wpoints_generator" pkg="storeplanner" type="wpoints_generator.py" output="screen" 
        args="$(arg store_name) $(arg traj_num) $(arg map_name) $(arg visual_check_wp_generator)"/>
    </group> 

</launch>
