<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <env name="LC_NUMERIC" value="C" />

  <!-- start up world -->
  <include file="$(find storeplanner)/launch/visualization/world.launch"> </include>
  
  <!-- start up robot -->
  <include file="$(find storeplanner)/launch/visualization/robot.launch"> </include>

</launch>
